@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css";
* {
  margin: 0;
  padding: 0;
  font-family: letra; }

@font-face {
  font-family: letra;
  src: url(../archives/FjallaOne-Regular.ttf); }

html {
  min-height: 100%;
  position: relative; }
  html body {
    margin: 0;
    margin-bottom: 40px;
    background-color: black;
    color: white; }
  html .reverse-nav {
    flex-direction: row-reverse; }
    html .reverse-nav ul li:hover {
      font-size: 20px; }
  html main {
    padding: 20px; }
  html footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px; }
    html footer a {
      filter: invert(100%); }

.videos {
  width: 534px;
  height: 300px; }

.fontes {
  font-size: 18px; }
